<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <!--<add key="CadenaConeccion" value="SERVER=192.168.1.79;DATABASE=_MGERENCIAL;User ID=sa;Password=transportes*1234;packet size=4096; Connection Timeout=600" />-->
      <add key="CadenaConeccion" value="SERVER=SISTEMAS-PC;DATABASE=_MGERENCIAL;Encrypt=False;INTEGRATED SECURITY=True;packet size=4096; Timeout = 600;"/>
      <!--Entrar Servidor (administrador)(*serverweb 190375*)-->
      <!--Ocultar Parametros en QueryString-->
      <!--https://www.aspsnippets.com/Articles/Encrypt-and-Decrypt-QueryString-Parameter-Values-in-ASPNet-using-C-and-VBNet.aspx-->
      <!--Terminos de Licencia de Visual Studio-->
      <!--https://visualstudio.microsoft.com/es/license-terms/mlt553321/-->
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    </appSettings>
    <system.webServer>
      <defaultDocument>
        <files>
          <clear />
          <add value="menu.aspx" />
          <add value="default.aspx" />
          <add value="Default.htm" />
          <add value="Default.asp" />
          <add value="index.htm" />
          <add value="index.html" />
          <add value="iisstart.htm" />
        </files>
      </defaultDocument>
    </system.webServer>
  </location>
</configuration>
